<form> 
    <div>
        <label>First Name:
        <input name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="Mike"/>
        </label>
    </div>
    <div>
        <label>Last Name:
        <input name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Shinoda"/>
        </label>
    </div>
    <div>
        <label>Email addres:
        <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" placeholder="mikeshinoda@lptv.com"/>
        </label>
        <div [hidden]="email.valid || email.untouched" class="alert">
          Incorrect email address
        </div>
    </div>
    <div>
        <label>Year of birth:
        <input name="yearBirth" [(ngModel)]="user.yearBirth" #yearBirth="ngModel" required pattern="1+[0-9]{3}" placeholder="1977"/>
        </label>
        <div [hidden]="yearBirth.valid || yearBirth.untouched" class="alert">
          Incorrect year
        </div>
    </div>
    <div>
        <label>Password:
        <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required pattern="[a-zA-Z0-9]{3,20}" placeholder="pa$$w0rD"/>
        </label>
        <div [hidden]="password.valid || password.untouched" class="alert">
          Incorrect password:<br>
            - length less <b>3</b> or greaten <b>20</b><br>
            - have special symbols
        </div>
    </div>
    
    <div>
        <button [disabled]="yearBirth.invalid || email.invalid || password.invalid" (click)="addUser()">Sign Up</button>        
    </div>
</form>
<a routerLink="/login">Log In</a>