.alert {
    background-color: rgba(250, 0, 0, 0.2);
    padding: 10px;
    max-width: 10vw;    
    max-height: 3vw;
    margin: 10px;
    border:solid rgba(250, 0, 0, 0.5) 2px;
    border-radius: 0.2vw;
}