<div *ngIf="!pass" class="question">
    <label>Enter your email address
        <input type="email" [(ngModel)]="email" required>
    </label>
    <div *ngIf="!valid" class="alert">
        Not found user with this email
    </div>
    <button (click)="checkEmail()">Confirm</button>
</div>


<div *ngIf="pass" class="question">What is result?<br>{{question.textCont}}<br>
    <input type="number" [(ngModel)]="answer" (change)="checkAns()" required>
    <a  routerLink="/forgotpassword/yourpassword" *ngIf="correct">See password</a>
</div>